@import 'normalize.css';
@import './fonts.scss';
@import './icons_font.scss';

html {
  font-family: $base-font;
  font-size: $font-size;
  color: $text-color;
}

html,
body,
.__nuxt,
.app {
  height: 100vh;
  height: 100svh;
}

.empty-layout,
.default-layout {
  height: 100vh;
  height: 100svh;
  overflow-y: auto;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}

h2 {
  font-size: 1.3rem;
  margin: 20px 0;
}
