@import 'normalize.css';
@import './fonts.scss';

html {
  font-family: $base-font;
  font-size: $font-size;
  color: $base-text-color;
}

html,
body,
.__nuxt,
.app,
.empty-layout,
.default-layout {
  min-height: 100vh;
  min-height: 100svh;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}
