/* colors */
$base-text-color: #3f3f3f;
$primary: #8437cc;

/* sizes */
$font-size: 17px;
$base-border-radius: 8px;

/* grid */
$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$base-font: Montserrat, Arial, Helvetica, sans-serif
