/* colors */
$text-color: #605c5c;
$primary: #6fc5a5;
$main-bg-color: #f9f3ee;
$muted: #bfbfbf;

/* sizes */
$font-size: 17px;
$control-radius: 99px;
$base-radius: 30px;
$base-content-padding: 20px;
$sidebar-side-padding: 20px;
$sidebar-max-width: 320px;
$sidebar-minimized-width: 85px;

/* grid */
$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$base-font: Montserrat, Arial, Helvetica, sans-serif
